.container {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 10px;

  
  header {
    background-color: #050505;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
    font-family: arial;
    color:white;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: auto;
    gap: 10px;
    font-family: arial;
  }
  
  .education-profession {
    background-color: #75757575;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
  }
  
  .interests-hobby {
    background-color: #75757575;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
  }
  footer {
    background-color: #75757595;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
    font-family: arial;
  }

