.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 10px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 25px;
  }
  
  header, footer {
    background-color: #f0f0f045;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex: 2;
    background-color: #f0f0f045;
    
    padding: 20px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #f0f0f045;
    padding: 20px;
  }