.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(49, 49, 49);
    border-style: none;
    border-radius: 5px;
  }
  .flex-container > div {
    background-color: #f1f1f136;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    line-height: 50px;
    font-size: 15px;
    border-style: none;
    border-radius: 5px;
  }