body {
    background-image:URL('../transparent BG.png');
    background-repeat: no-repeat;
    background-size: 1920px;
    font-family: Arial;
}

header {
    background-image:URL('../topographic-map.png');
    background-repeat: no-repeat;
    background-color: #050505;
    background-size: 1920px;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
    font-family: arial;
    color:white;
    text-align: center;
}
.type1 {
    background-color: #75757575;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
}
  
.type2 {
    background-color: #75757575;
    padding: 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
}